.intro{
  background: url('../public/intro.jpeg') no-repeat;
  background-size: cover;
}
.intro .bg-wrap{
  background: #000000c7;
}
.order img {
  height: 300px;
}
a{
  text-decoration: none;
  color: #008080;
}
.text-white a {
  color: #fff;
}
.btn.bg-kal-gold:hover {
  background: #ffe600;
}
.book .container {
  background: url('../public/location.webp') no-repeat;
  background-size: cover;
}
.book .row {
  backdrop-filter: blur(6px);
  height: 100%;
}
.menu-box a:hover, .menu-box a.active {
  background: #ffe600;
}
.header{
  z-index: 10;
}